<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,472}</string>
                <key>spriteSourceSize</key>
                <string>{750,472}</string>
                <key>textureRect</key>
                <string>{{1253,1},{750,472}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button-jg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,74}</string>
                <key>spriteSourceSize</key>
                <string>{200,74}</string>
                <key>textureRect</key>
                <string>{{1747,475},{200,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon-jr.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{66,48}</string>
                <key>spriteSourceSize</key>
                <string>{66,50}</string>
                <key>textureRect</key>
                <string>{{1405,875},{66,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_nav_return.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,1}</string>
                <key>spriteSize</key>
                <string>{18,34}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{703,895},{18,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_zc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,46}</string>
                <key>spriteSourceSize</key>
                <string>{46,46}</string>
                <key>textureRect</key>
                <string>{{1473,875},{46,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img-bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{340,398}</string>
                <key>spriteSourceSize</key>
                <string>{340,400}</string>
                <key>textureRect</key>
                <string>{{1405,475},{340,398}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img-ck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,140}</string>
                <key>spriteSourceSize</key>
                <string>{700,140}</string>
                <key>textureRect</key>
                <string>{{703,753},{700,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img-lihe.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,180}</string>
                <key>spriteSourceSize</key>
                <string>{700,180}</string>
                <key>textureRect</key>
                <string>{{1,753},{700,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_bg_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,1250}</string>
                <key>spriteSourceSize</key>
                <string>{750,1250}</string>
                <key>textureRect</key>
                <string>{{1,1},{750,1250}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>img_zhenzhu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,100}</string>
                <key>spriteSourceSize</key>
                <string>{109,100}</string>
                <key>textureRect</key>
                <string>{{1253,475},{109,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>shop.png</string>
            <key>size</key>
            <string>{2004,934}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3ee9d9b859d88dfe97b3c85365c84d02:41e3617302bf4828988db74ac5d3a33d:0c3382addd4ddbdf7ff3d469abaa2ba6$</string>
            <key>textureFileName</key>
            <string>shop.png</string>
        </dict>
    </dict>
</plist>
