<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button-cy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{378,116}</string>
                <key>spriteSourceSize</key>
                <string>{378,116}</string>
                <key>textureRect</key>
                <string>{{647,543},{378,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guanbi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{769,543},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_dui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,19}</string>
                <key>spriteSourceSize</key>
                <string>{22,19}</string>
                <key>textureRect</key>
                <string>{{769,589},{22,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>img-qd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{638,798}</string>
                <key>spriteSourceSize</key>
                <string>{638,798}</string>
                <key>textureRect</key>
                <string>{{3,3},{638,798}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img01-y.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,134}</string>
                <key>spriteSourceSize</key>
                <string>{132,134}</string>
                <key>textureRect</key>
                <string>{{150,807},{132,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>img02-y.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,134}</string>
                <key>spriteSourceSize</key>
                <string>{132,134}</string>
                <key>textureRect</key>
                <string>{{150,807},{132,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>img03-y.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,134}</string>
                <key>spriteSourceSize</key>
                <string>{132,134}</string>
                <key>textureRect</key>
                <string>{{150,807},{132,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>img04-y.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,134}</string>
                <key>spriteSourceSize</key>
                <string>{132,134}</string>
                <key>textureRect</key>
                <string>{{150,807},{132,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>img06-y.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,134}</string>
                <key>spriteSourceSize</key>
                <string>{132,134}</string>
                <key>textureRect</key>
                <string>{{290,807},{132,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>img07-y.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,134}</string>
                <key>spriteSourceSize</key>
                <string>{132,134}</string>
                <key>textureRect</key>
                <string>{{430,807},{132,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>img_biaoti.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{534,241}</string>
                <key>spriteSourceSize</key>
                <string>{534,241}</string>
                <key>textureRect</key>
                <string>{{647,3},{534,241}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>img_rili.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,120}</string>
                <key>spriteSourceSize</key>
                <string>{141,120}</string>
                <key>textureRect</key>
                <string>{{3,807},{141,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>sgin.png</string>
            <key>size</key>
            <string>{891,942}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bb9065749af5ec092b5550dea1190045:556c7d129090365fce8eb4368483ae04:d0427a1b03d6336faf15ec27afe66dc5$</string>
            <key>textureFileName</key>
            <string>sgin.png</string>
        </dict>
    </dict>
</plist>
