<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,1700}</string>
                <key>spriteSourceSize</key>
                <string>{750,1700}</string>
                <key>textureRect</key>
                <string>{{0,0},{750,1700}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{595,174}</string>
                <key>spriteSourceSize</key>
                <string>{595,174}</string>
                <key>textureRect</key>
                <string>{{1394,750},{595,174}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{615,192}</string>
                <key>spriteSourceSize</key>
                <string>{615,192}</string>
                <key>textureRect</key>
                <string>{{0,1280},{615,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_hqyz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,129}</string>
                <key>spriteSourceSize</key>
                <string>{242,129}</string>
                <key>textureRect</key>
                <string>{{1568,1098},{242,129}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_nav_return.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,1}</string>
                <key>spriteSize</key>
                <string>{18,34}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{615,1280},{18,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{699,530}</string>
                <key>spriteSourceSize</key>
                <string>{699,530}</string>
                <key>textureRect</key>
                <string>{{0,750},{699,530}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{695,528}</string>
                <key>spriteSourceSize</key>
                <string>{695,528}</string>
                <key>textureRect</key>
                <string>{{699,750},{695,528}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{348,113}</string>
                <key>spriteSourceSize</key>
                <string>{348,113}</string>
                <key>textureRect</key>
                <string>{{1568,750},{348,113}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>img_2的副本.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{323,52}</string>
                <key>spriteSourceSize</key>
                <string>{323,52}</string>
                <key>textureRect</key>
                <string>{{0,1472},{323,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{658,137}</string>
                <key>spriteSourceSize</key>
                <string>{658,137}</string>
                <key>textureRect</key>
                <string>{{699,1278},{658,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{401,137}</string>
                <key>spriteSourceSize</key>
                <string>{401,137}</string>
                <key>textureRect</key>
                <string>{{615,1415},{401,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,137}</string>
                <key>spriteSourceSize</key>
                <string>{245,137}</string>
                <key>textureRect</key>
                <string>{{1016,1415},{245,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_sx.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2,67}</string>
                <key>spriteSourceSize</key>
                <string>{2,67}</string>
                <key>textureRect</key>
                <string>{{1357,1278},{2,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>register.png</string>
            <key>size</key>
            <string>{1700,1552}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:148092eed03e914a6c4d1da3b1737682:17852d2affd87748ba59f48b405422b8:10f58ac5a600e28e93ae8487a143e380$</string>
            <key>textureFileName</key>
            <string>register.png</string>
        </dict>
    </dict>
</plist>
