<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,152}</string>
                <key>spriteSourceSize</key>
                <string>{720,152}</string>
                <key>textureRect</key>
                <string>{{753,773},{720,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{706,324}</string>
                <key>spriteSourceSize</key>
                <string>{706,324}</string>
                <key>textureRect</key>
                <string>{{753,447},{706,324}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{637,206}</string>
                <key>spriteSourceSize</key>
                <string>{637,206}</string>
                <key>textureRect</key>
                <string>{{753,927},{637,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_cygf.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,73}</string>
                <key>spriteSourceSize</key>
                <string>{157,73}</string>
                <key>textureRect</key>
                <string>{{947,1481},{157,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_huigou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,54}</string>
                <key>spriteSourceSize</key>
                <string>{124,54}</string>
                <key>textureRect</key>
                <string>{{1106,1517},{124,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_lq.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,36}</string>
                <key>spriteSourceSize</key>
                <string>{90,36}</string>
                <key>textureRect</key>
                <string>{{87,1663},{90,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_zengsong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,54}</string>
                <key>spriteSourceSize</key>
                <string>{124,54}</string>
                <key>textureRect</key>
                <string>{{1232,1517},{124,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button-ck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,76}</string>
                <key>spriteSourceSize</key>
                <string>{151,76}</string>
                <key>textureRect</key>
                <string>{{721,1625},{151,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button-red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,56}</string>
                <key>spriteSourceSize</key>
                <string>{120,56}</string>
                <key>textureRect</key>
                <string>{{1358,1517},{120,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,66}</string>
                <key>spriteSourceSize</key>
                <string>{168,66}</string>
                <key>textureRect</key>
                <string>{{721,1557},{168,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon-hb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,54}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{179,1663},{48,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon-yq.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{44,42}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{279,1663},{44,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon-yq1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{50,43}</string>
                <key>spriteSourceSize</key>
                <string>{52,53}</string>
                <key>textureRect</key>
                <string>{{1,1663},{50,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon-yq2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,41}</string>
                <key>spriteSourceSize</key>
                <string>{52,53}</string>
                <key>textureRect</key>
                <string>{{325,1663},{44,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon-yq3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{50,39}</string>
                <key>spriteSourceSize</key>
                <string>{52,53}</string>
                <key>textureRect</key>
                <string>{{46,1663},{50,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon-yyd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{80,102}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{891,1557},{80,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_fanhui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,34}</string>
                <key>spriteSourceSize</key>
                <string>{19,34}</string>
                <key>textureRect</key>
                <string>{{1106,1481},{19,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_gengduo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,26}</string>
                <key>spriteSourceSize</key>
                <string>{16,26}</string>
                <key>textureRect</key>
                <string>{{721,1283},{16,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_jq.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,54}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1418,1649},{62,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_kj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,91}</string>
                <key>spriteSourceSize</key>
                <string>{198,91}</string>
                <key>textureRect</key>
                <string>{{1392,927},{198,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_wd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,56}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1140,1657},{52,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_yq.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,52}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{874,1661},{58,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_zc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,58}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1356,1649},{60,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img-bg01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,444}</string>
                <key>spriteSourceSize</key>
                <string>{750,444}</string>
                <key>textureRect</key>
                <string>{{753,1},{750,444}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img-ct01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,1280}</string>
                <key>spriteSourceSize</key>
                <string>{750,1280}</string>
                <key>textureRect</key>
                <string>{{1,1},{750,1280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img-ct03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{718,378}</string>
                <key>spriteSourceSize</key>
                <string>{718,378}</string>
                <key>textureRect</key>
                <string>{{1,1283},{718,378}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img-lh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,44}</string>
                <key>spriteSourceSize</key>
                <string>{176,44}</string>
                <key>textureRect</key>
                <string>{{1461,447},{174,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>img-vip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,43}</string>
                <key>spriteSourceSize</key>
                <string>{112,45}</string>
                <key>textureRect</key>
                <string>{{1461,623},{110,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>img-yx.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{344,380}</string>
                <key>spriteSourceSize</key>
                <string>{344,380}</string>
                <key>textureRect</key>
                <string>{{753,1135},{344,380}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>img-yx02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{344,380}</string>
                <key>spriteSourceSize</key>
                <string>{344,380}</string>
                <key>textureRect</key>
                <string>{{1135,1135},{344,380}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_choujing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,72}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{1433,1575},{72,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_dd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,72}</string>
                <key>spriteSourceSize</key>
                <string>{107,72}</string>
                <key>textureRect</key>
                <string>{{1079,1573},{107,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_dou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,55}</string>
                <key>spriteSourceSize</key>
                <string>{58,55}</string>
                <key>textureRect</key>
                <string>{{1194,1657},{58,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_lh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{224,74}</string>
                <key>spriteSourceSize</key>
                <string>{224,80}</string>
                <key>textureRect</key>
                <string>{{721,1481},{224,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_quan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,72}</string>
                <key>spriteSourceSize</key>
                <string>{73,72}</string>
                <key>textureRect</key>
                <string>{{1358,1575},{73,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_sfm_hdp05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{973,1556},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_shiming.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,68}</string>
                <key>spriteSourceSize</key>
                <string>{68,68}</string>
                <key>textureRect</key>
                <string>{{1286,1645},{68,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_yaoqingma.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,55}</string>
                <key>spriteSourceSize</key>
                <string>{59,55}</string>
                <key>textureRect</key>
                <string>{{1079,1647},{59,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_zhenzhu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{1286,1573},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lingdang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,45}</string>
                <key>spriteSourceSize</key>
                <string>{44,45}</string>
                <key>textureRect</key>
                <string>{{235,1663},{42,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>set.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,41}</string>
                <key>spriteSourceSize</key>
                <string>{44,45}</string>
                <key>textureRect</key>
                <string>{{371,1663},{44,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yyd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,82}</string>
                <key>spriteSourceSize</key>
                <string>{96,82}</string>
                <key>textureRect</key>
                <string>{{1188,1573},{96,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>mine.png</string>
            <key>size</key>
            <string>{1506,1714}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d22d9f4ea6a580cf1a39d7fe3bacc506:50516052c9d0bb77dd8bda3851fe9acb:c43f17b22dce678643ba16fa40df6f87$</string>
            <key>textureFileName</key>
            <string>mine.png</string>
        </dict>
    </dict>
</plist>
