<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,1624}</string>
                <key>spriteSourceSize</key>
                <string>{750,1624}</string>
                <key>textureRect</key>
                <string>{{3,123},{750,1624}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_fz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,63}</string>
                <key>spriteSourceSize</key>
                <string>{147,63}</string>
                <key>textureRect</key>
                <string>{{159,3},{147,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_gb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,24}</string>
                <key>spriteSourceSize</key>
                <string>{26,24}</string>
                <key>textureRect</key>
                <string>{{3,3},{26,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_yqhy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{309,114}</string>
                <key>spriteSourceSize</key>
                <string>{309,114}</string>
                <key>textureRect</key>
                <string>{{1062,3},{309,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button-lq.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,72}</string>
                <key>spriteSourceSize</key>
                <string>{236,74}</string>
                <key>textureRect</key>
                <string>{{312,3},{232,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_qq.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{35,3},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_wx.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{97,3},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img-kp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{956,3},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,90}</string>
                <key>spriteSourceSize</key>
                <string>{400,90}</string>
                <key>textureRect</key>
                <string>{{550,3},{400,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>mine_invite.png</string>
            <key>size</key>
            <string>{1630,876}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:88660df4fe032b97ceec91a7cc5f160b:7b75acce90d7413e0e11bb6dcf1a6dc2:4230fbb02c60919caca25e2c926cc61e$</string>
            <key>textureFileName</key>
            <string>mine_invite.png</string>
        </dict>
    </dict>
</plist>
