<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{404,105}</string>
                <key>spriteSourceSize</key>
                <string>{404,105}</string>
                <key>textureRect</key>
                <string>{{51,1},{404,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_in.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{467,115}</string>
                <key>spriteSourceSize</key>
                <string>{467,117}</string>
                <key>textureRect</key>
                <string>{{457,1},{467,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guanbi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{1,1},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img-lhcsr.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-15}</string>
                <key>spriteSize</key>
                <string>{750,1168}</string>
                <key>spriteSourceSize</key>
                <string>{750,1200}</string>
                <key>textureRect</key>
                <string>{{1,118},{750,1168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>supervip.png</string>
            <key>size</key>
            <string>{1170,869}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f51c9e9a4b244868c043a0fa3d8bbe5b:60be489a5d16fe3de7f6cda5ec0d2d77:d6b60b332e8b433491ada853a416c793$</string>
            <key>textureFileName</key>
            <string>supervip.png</string>
        </dict>
    </dict>
</plist>
