#/////////////////////////////////////////////////////////////////////////////
# Fireball Projects
#/////////////////////////////////////////////////////////////////////////////

/library/
/temp/
/local/
/update

#/////////////////////////////////////////////////////////////////////////////
# Android Projects
#/////////////////////////////////////////////////////////////////////////////

/build/web-mobile/
native
/build/jsb-link/assets/
/build/jsb-link/js backups (useful for debugging)/
/build/jsb-link/jsb-adapter/
/build/jsb-link/src/
/build/jsb-link/frameworks/runtime-src/proj.android-studio/.gradle/
/build/jsb-link/frameworks/runtime-src/proj.android-studio/.idea/
/build/jsb-link/frameworks/runtime-src/proj.android-studio/game/
/build/jsb-link/frameworks/runtime-src/proj.android-studio/gradle/
/build/jsb-link/frameworks/runtime-src/proj.android-studio/instantapp/
/build/jsb-link/frameworks/runtime-src/proj.android-studio/app/build/
/build/jsb-link/frameworks/runtime-src/proj.android-studio/app/release/
/build/jsb-link/frameworks/runtime-src/proj.android-studio/app/.externalNativeBuild/
/build/jsb-link/frameworks/runtime-src/proj.android-studio/app/.cxx/
/build/jsb-link/frameworks/runtime-src/proj.ios_mac/
/build/jsb-link/frameworks/runtime-src/proj.win32/

#/////////////////////////////////////////////////////////////////////////////
# 热更新
#/////////////////////////////////////////////////////////////////////////////
/packages-hot-update/versions/
/packages-hot-update/test-server/
/packages-hot-update/manifest/


#/////////////////////////////////////////////////////////////////////////////
# npm files
#/////////////////////////////////////////////////////////////////////////////

npm-debug.log
node_modules/

#/////////////////////////////////////////////////////////////////////////////
# Logs and databases
#/////////////////////////////////////////////////////////////////////////////

*.log
*.sql
*.sqlite

#/////////////////////////////////////////////////////////////////////////////
# files for debugger
#/////////////////////////////////////////////////////////////////////////////

*.sln
*.csproj
*.pidb
*.unityproj
*.suo

#/////////////////////////////////////////////////////////////////////////////
# OS generated files
#/////////////////////////////////////////////////////////////////////////////

.DS_Store
ehthumbs.db
Thumbs.db

#/////////////////////////////////////////////////////////////////////////////
# WebStorm files
#/////////////////////////////////////////////////////////////////////////////

.idea/

#//////////////////////////
# VS Code files
#//////////////////////////

.vscode/
*.hprof