<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{354,93}</string>
                <key>spriteSourceSize</key>
                <string>{354,93}</string>
                <key>textureRect</key>
                <string>{{3358,1412},{354,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{354,93}</string>
                <key>spriteSourceSize</key>
                <string>{354,93}</string>
                <key>textureRect</key>
                <string>{{3451,1412},{354,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{354,93}</string>
                <key>spriteSourceSize</key>
                <string>{354,93}</string>
                <key>textureRect</key>
                <string>{{3238,2009},{354,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{354,93}</string>
                <key>spriteSourceSize</key>
                <string>{354,93}</string>
                <key>textureRect</key>
                <string>{{3238,2102},{354,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,2992}</string>
                <key>spriteSourceSize</key>
                <string>{750,2992}</string>
                <key>textureRect</key>
                <string>{{0,750},{750,2992}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{710,2614}</string>
                <key>spriteSourceSize</key>
                <string>{710,2614}</string>
                <key>textureRect</key>
                <string>{{0,1500},{710,2614}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button-ck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,68}</string>
                <key>spriteSourceSize</key>
                <string>{172,68}</string>
                <key>textureRect</key>
                <string>{{2992,1412},{172,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{644,100}</string>
                <key>spriteSourceSize</key>
                <string>{644,100}</string>
                <key>textureRect</key>
                <string>{{3476,0},{644,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_nav_return.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{2614,2162},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img-01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{662,256}</string>
                <key>spriteSourceSize</key>
                <string>{662,256}</string>
                <key>textureRect</key>
                <string>{{3304,750},{662,256}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>img-02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{662,312}</string>
                <key>spriteSourceSize</key>
                <string>{662,312}</string>
                <key>textureRect</key>
                <string>{{2992,750},{662,312}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>img-03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{662,312}</string>
                <key>spriteSourceSize</key>
                <string>{662,312}</string>
                <key>textureRect</key>
                <string>{{2614,1500},{662,312}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>img-04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{662,312}</string>
                <key>spriteSourceSize</key>
                <string>{662,312}</string>
                <key>textureRect</key>
                <string>{{2926,1500},{662,312}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>img-qd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{3476,644},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img-yy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{597,120}</string>
                <key>spriteSourceSize</key>
                <string>{597,120}</string>
                <key>textureRect</key>
                <string>{{3238,1412},{597,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,180}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{3358,1766},{180,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>playbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,3476}</string>
                <key>spriteSourceSize</key>
                <string>{750,3476}</string>
                <key>textureRect</key>
                <string>{{0,0},{750,3476}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>play.png</string>
            <key>size</key>
            <string>{3592,2210}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bbab6eddbdd337d251d282a417700847:43f8b8cab1d08582e4d17024b747d8be:106e2c55d92534b109cfae89160a89d7$</string>
            <key>textureFileName</key>
            <string>play.png</string>
        </dict>
    </dict>
</plist>
