<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,1784}</string>
                <key>spriteSourceSize</key>
                <string>{750,1784}</string>
                <key>textureRect</key>
                <string>{{1,1},{750,1784}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{377,114}</string>
                <key>spriteSourceSize</key>
                <string>{377,114}</string>
                <key>textureRect</key>
                <string>{{755,753},{377,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_nav_return.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,34}</string>
                <key>spriteSourceSize</key>
                <string>{19,34}</string>
                <key>textureRect</key>
                <string>{{755,1262},{19,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img-zf.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,128}</string>
                <key>spriteSourceSize</key>
                <string>{640,128}</string>
                <key>textureRect</key>
                <string>{{755,1132},{640,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{752,554}</string>
                <key>spriteSourceSize</key>
                <string>{752,554}</string>
                <key>textureRect</key>
                <string>{{1,753},{752,554}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>give.png</string>
            <key>size</key>
            <string>{1786,1308}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a1e5e700c1361a1edb52929ac3f1f68d:47c9bd81c3d5bfe12441730db3e5b770:0ba4a24b84be60a44f0af0572f82b0a8$</string>
            <key>textureFileName</key>
            <string>give.png</string>
        </dict>
    </dict>
</plist>
