<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{704,183}</string>
                <key>spriteSourceSize</key>
                <string>{704,183}</string>
                <key>textureRect</key>
                <string>{{1619,1},{704,183}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_1(1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{701,549}</string>
                <key>spriteSourceSize</key>
                <string>{701,549}</string>
                <key>textureRect</key>
                <string>{{879,753},{701,549}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,450}</string>
                <key>spriteSourceSize</key>
                <string>{750,450}</string>
                <key>textureRect</key>
                <string>{{1,753},{750,450}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_2(1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{645,90}</string>
                <key>spriteSourceSize</key>
                <string>{645,90}</string>
                <key>textureRect</key>
                <string>{{879,1304},{645,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,424}</string>
                <key>spriteSourceSize</key>
                <string>{750,424}</string>
                <key>textureRect</key>
                <string>{{453,753},{750,424}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_2的副本.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,1616}</string>
                <key>spriteSourceSize</key>
                <string>{750,1616}</string>
                <key>textureRect</key>
                <string>{{1,1},{750,1616}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{645,90}</string>
                <key>spriteSourceSize</key>
                <string>{645,90}</string>
                <key>textureRect</key>
                <string>{{879,1396},{645,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{645,60}</string>
                <key>spriteSourceSize</key>
                <string>{645,60}</string>
                <key>textureRect</key>
                <string>{{1804,1},{645,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_lijihuigou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{377,114}</string>
                <key>spriteSourceSize</key>
                <string>{377,114}</string>
                <key>textureRect</key>
                <string>{{1582,753},{377,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{309,114}</string>
                <key>spriteSourceSize</key>
                <string>{309,114}</string>
                <key>textureRect</key>
                <string>{{1698,707},{309,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon-xz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{1804,648},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon-zfb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,67}</string>
                <key>spriteSourceSize</key>
                <string>{67,67}</string>
                <key>textureRect</key>
                <string>{{1712,1322},{67,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_nav_return.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,34}</string>
                <key>spriteSourceSize</key>
                <string>{19,34}</string>
                <key>textureRect</key>
                <string>{{1619,707},{19,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img-kp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1712,1118},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img-pre.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,128}</string>
                <key>spriteSourceSize</key>
                <string>{228,128}</string>
                <key>textureRect</key>
                <string>{{1582,1132},{228,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>img-qb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,98}</string>
                <key>spriteSourceSize</key>
                <string>{111,98}</string>
                <key>textureRect</key>
                <string>{{1698,1018},{111,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img-sc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,34}</string>
                <key>spriteSourceSize</key>
                <string>{80,34}</string>
                <key>textureRect</key>
                <string>{{1526,1304},{80,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>img-yel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1712,1220},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>withdrawal.png</string>
            <key>size</key>
            <string>{1865,1504}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dd15121fc28d64b9a67212aa1e31d32f:83a262a78acf79fba1a7b7211b54a744:c8c327130a4d5342451c20275a62c30c$</string>
            <key>textureFileName</key>
            <string>withdrawal.png</string>
        </dict>
    </dict>
</plist>
