<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg-y.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,753}</string>
                <key>spriteSourceSize</key>
                <string>{750,753}</string>
                <key>textureRect</key>
                <string>{{3,3},{750,753}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,57}</string>
                <key>spriteSourceSize</key>
                <string>{300,57}</string>
                <key>textureRect</key>
                <string>{{60,888},{300,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,60}</string>
                <key>spriteSourceSize</key>
                <string>{120,60}</string>
                <key>textureRect</key>
                <string>{{60,762},{120,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_querengoumai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{276,83}</string>
                <key>spriteSourceSize</key>
                <string>{276,83}</string>
                <key>textureRect</key>
                <string>{{423,762},{276,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button-green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{291,88}</string>
                <key>spriteSourceSize</key>
                <string>{291,88}</string>
                <key>textureRect</key>
                <string>{{126,762},{291,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{291,88}</string>
                <key>spriteSourceSize</key>
                <string>{291,88}</string>
                <key>textureRect</key>
                <string>{{126,762},{291,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon-jr.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{705,762},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon-jr_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{705,804},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_kj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,51}</string>
                <key>spriteSourceSize</key>
                <string>{198,51}</string>
                <key>textureRect</key>
                <string>{{3,762},{198,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>img-w03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{710,288}</string>
                <key>spriteSourceSize</key>
                <string>{710,288}</string>
                <key>textureRect</key>
                <string>{{759,3},{710,288}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>img-w04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,88}</string>
                <key>spriteSourceSize</key>
                <string>{256,88}</string>
                <key>textureRect</key>
                <string>{{366,856},{256,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img-y.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,247}</string>
                <key>spriteSourceSize</key>
                <string>{270,247}</string>
                <key>textureRect</key>
                <string>{{759,719},{270,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_doudou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{705,846},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_zhixian1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{753,1}</string>
                <key>spriteSourceSize</key>
                <string>{753,1}</string>
                <key>textureRect</key>
                <string>{{3,972},{753,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>cell_s.png</string>
            <key>size</key>
            <string>{1050,976}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9b139bb2b7c3634455d18eade840cee2:013358b5e7a544c3ed6bfd5aedcb24a9:b1fa78594553dca0be96fe495c856cdd$</string>
            <key>textureFileName</key>
            <string>cell_s.png</string>
        </dict>
    </dict>
</plist>
