<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,452}</string>
                <key>spriteSourceSize</key>
                <string>{750,452}</string>
                <key>textureRect</key>
                <string>{{946,88},{750,452}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{695,838}</string>
                <key>spriteSourceSize</key>
                <string>{695,838}</string>
                <key>textureRect</key>
                <string>{{0,540},{695,838}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,1278}</string>
                <key>spriteSourceSize</key>
                <string>{750,1278}</string>
                <key>textureRect</key>
                <string>{{695,540},{750,1278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{666,125}</string>
                <key>spriteSourceSize</key>
                <string>{666,125}</string>
                <key>textureRect</key>
                <string>{{0,88},{666,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button-green.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{291,88}</string>
                <key>spriteSourceSize</key>
                <string>{291,88}</string>
                <key>textureRect</key>
                <string>{{1499,0},{291,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon-sd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,75}</string>
                <key>spriteSourceSize</key>
                <string>{67,75}</string>
                <key>textureRect</key>
                <string>{{1432,0},{67,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_nav_return.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{621,0},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img-03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,242}</string>
                <key>spriteSourceSize</key>
                <string>{280,242}</string>
                <key>textureRect</key>
                <string>{{666,88},{280,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img-bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{410,71}</string>
                <key>spriteSourceSize</key>
                <string>{410,71}</string>
                <key>textureRect</key>
                <string>{{1022,0},{410,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_wenzi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{352,51}</string>
                <key>spriteSourceSize</key>
                <string>{352,51}</string>
                <key>textureRect</key>
                <string>{{669,0},{352,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_zhixian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{621,1}</string>
                <key>spriteSourceSize</key>
                <string>{621,1}</string>
                <key>textureRect</key>
                <string>{{0,0},{621,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_zhixian1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1,56}</string>
                <key>spriteSourceSize</key>
                <string>{1,56}</string>
                <key>textureRect</key>
                <string>{{1021,0},{1,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>cell.png</string>
            <key>size</key>
            <string>{1790,1818}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4acc7e4ee41f1cd9c7db7e842606de6a:248b28cbb1afb25b7e17fa88f8463814:2dfe2c497ccf267336db75e7d0e281c7$</string>
            <key>textureFileName</key>
            <string>cell.png</string>
        </dict>
    </dict>
</plist>
