<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{601,155}</string>
                <key>spriteSourceSize</key>
                <string>{601,155}</string>
                <key>textureRect</key>
                <string>{{2104,1753},{601,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,1624}</string>
                <key>spriteSourceSize</key>
                <string>{750,1624}</string>
                <key>textureRect</key>
                <string>{{1505,1},{750,1624}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>big_helper.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,1922}</string>
                <key>spriteSourceSize</key>
                <string>{750,1922}</string>
                <key>textureRect</key>
                <string>{{1,1},{750,1922}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>botton-qc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,68}</string>
                <key>spriteSourceSize</key>
                <string>{147,68}</string>
                <key>textureRect</key>
                <string>{{2105,1627},{147,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_dh 2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,60}</string>
                <key>spriteSourceSize</key>
                <string>{120,60}</string>
                <key>textureRect</key>
                <string>{{1931,1627},{120,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_dh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,60}</string>
                <key>spriteSourceSize</key>
                <string>{120,60}</string>
                <key>textureRect</key>
                <string>{{1931,1627},{120,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_huigou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,54}</string>
                <key>spriteSourceSize</key>
                <string>{124,54}</string>
                <key>textureRect</key>
                <string>{{2105,1697},{124,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_qr.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,114}</string>
                <key>spriteSourceSize</key>
                <string>{252,114}</string>
                <key>textureRect</key>
                <string>{{1907,1750},{252,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button-ck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,50}</string>
                <key>spriteSourceSize</key>
                <string>{100,50}</string>
                <key>textureRect</key>
                <string>{{243,1925},{100,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button-cy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,74}</string>
                <key>spriteSourceSize</key>
                <string>{200,74}</string>
                <key>textureRect</key>
                <string>{{2803,1868},{200,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,40}</string>
                <key>spriteSourceSize</key>
                <string>{84,40}</string>
                <key>textureRect</key>
                <string>{{2803,1944},{84,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button_zi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,40}</string>
                <key>spriteSourceSize</key>
                <string>{84,40}</string>
                <key>textureRect</key>
                <string>{{2845,1944},{84,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>choujiang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,94}</string>
                <key>spriteSourceSize</key>
                <string>{94,94}</string>
                <key>textureRect</key>
                <string>{{347,1925},{94,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dianchi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,94}</string>
                <key>spriteSourceSize</key>
                <string>{94,94}</string>
                <key>textureRect</key>
                <string>{{443,1925},{94,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,94}</string>
                <key>spriteSourceSize</key>
                <string>{94,94}</string>
                <key>textureRect</key>
                <string>{{347,1925},{94,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>helper.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,1679}</string>
                <key>spriteSourceSize</key>
                <string>{750,1679}</string>
                <key>textureRect</key>
                <string>{{753,1},{750,1679}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon-jr.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{2819,1814},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon-sp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{52,48}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{1563,1627},{52,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon-vip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,94}</string>
                <key>spriteSourceSize</key>
                <string>{94,94}</string>
                <key>textureRect</key>
                <string>{{539,1925},{94,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon-yyd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,55}</string>
                <key>spriteSourceSize</key>
                <string>{58,55}</string>
                <key>textureRect</key>
                <string>{{2950,1944},{58,55}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_ir.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,62}</string>
                <key>spriteSourceSize</key>
                <string>{61,62}</string>
                <key>textureRect</key>
                <string>{{2887,1944},{61,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_jq.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{45,43}</string>
                <key>spriteSourceSize</key>
                <string>{55,55}</string>
                <key>textureRect</key>
                <string>{{2707,1868},{45,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_jq_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,54}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{2819,1750},{62,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_jq_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{66,64}</string>
                <key>spriteSourceSize</key>
                <string>{82,82}</string>
                <key>textureRect</key>
                <string>{{753,1682},{66,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_jq_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{31,37}</string>
                <key>spriteSourceSize</key>
                <string>{43,43}</string>
                <key>textureRect</key>
                <string>{{2752,1868},{31,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_js.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{110,116}</string>
                <key>spriteSourceSize</key>
                <string>{112,116}</string>
                <key>textureRect</key>
                <string>{{1993,1627},{110,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_kj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,79}</string>
                <key>spriteSourceSize</key>
                <string>{171,79}</string>
                <key>textureRect</key>
                <string>{{2023,1745},{171,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_lt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{40,46}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{1889,1627},{40,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_wd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,56}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1505,1627},{52,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_zp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{110,116}</string>
                <key>spriteSourceSize</key>
                <string>{112,116}</string>
                <key>textureRect</key>
                <string>{{2707,1750},{110,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img-app01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{345,192}</string>
                <key>spriteSourceSize</key>
                <string>{345,192}</string>
                <key>textureRect</key>
                <string>{{822,1682},{345,192}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>img-app02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{345,192}</string>
                <key>spriteSourceSize</key>
                <string>{345,192}</string>
                <key>textureRect</key>
                <string>{{1016,1682},{345,192}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>img-ct01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,1280}</string>
                <key>spriteSourceSize</key>
                <string>{750,1280}</string>
                <key>textureRect</key>
                <string>{{2257,1},{750,1280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img-ct04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{695,329}</string>
                <key>spriteSourceSize</key>
                <string>{695,329}</string>
                <key>textureRect</key>
                <string>{{1210,1682},{695,329}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img-cy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,36}</string>
                <key>spriteSourceSize</key>
                <string>{104,36}</string>
                <key>textureRect</key>
                <string>{{103,1925},{104,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>img-jq.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,89}</string>
                <key>spriteSourceSize</key>
                <string>{104,105}</string>
                <key>textureRect</key>
                <string>{{731,1925},{92,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>img-kp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{141,1925},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,465}</string>
                <key>spriteSourceSize</key>
                <string>{750,465}</string>
                <key>textureRect</key>
                <string>{{2257,1283},{750,465}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_bg_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{690,113}</string>
                <key>spriteSourceSize</key>
                <string>{690,113}</string>
                <key>textureRect</key>
                <string>{{2023,1918},{690,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_bg_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,50}</string>
                <key>spriteSourceSize</key>
                <string>{100,50}</string>
                <key>textureRect</key>
                <string>{{295,1925},{100,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>img_quan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,89}</string>
                <key>spriteSourceSize</key>
                <string>{86,89}</string>
                <key>textureRect</key>
                <string>{{2715,1915},{86,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_wenan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,45}</string>
                <key>spriteSourceSize</key>
                <string>{170,45}</string>
                <key>textureRect</key>
                <string>{{753,1748},{170,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{106,100}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{1,1925},{106,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jindou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,94}</string>
                <key>spriteSourceSize</key>
                <string>{94,94}</string>
                <key>textureRect</key>
                <string>{{635,1925},{94,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tuijian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{274,47}</string>
                <key>spriteSourceSize</key>
                <string>{274,47}</string>
                <key>textureRect</key>
                <string>{{1613,1627},{274,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>ticket.png</string>
            <key>size</key>
            <string>{3008,2032}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:12c6acea282ae6fbdd556add362763ec:bc84eda492b3df7ecd47a2acc6fcd0b7:3c158ebf36219636dc3a4f408f4d2262$</string>
            <key>textureFileName</key>
            <string>ticket.png</string>
        </dict>
    </dict>
</plist>
