<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button-cy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,96}</string>
                <key>spriteSourceSize</key>
                <string>{400,96}</string>
                <key>textureRect</key>
                <string>{{0,0},{400,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img-jl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,774}</string>
                <key>spriteSourceSize</key>
                <string>{640,774}</string>
                <key>textureRect</key>
                <string>{{0,96},{640,774}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>box.png</string>
            <key>size</key>
            <string>{640,870}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d646d8ba1e7364a5395788f7e947e932:9d3204f3c8162a292cde164f211a2036:e7d5df088989fd73d4e1ab6d0183848c$</string>
            <key>textureFileName</key>
            <string>box.png</string>
        </dict>
    </dict>
</plist>
