<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>botton-qc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{309,114}</string>
                <key>spriteSourceSize</key>
                <string>{309,114}</string>
                <key>textureRect</key>
                <string>{{192,0},{309,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_down_arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,23}</string>
                <key>spriteSourceSize</key>
                <string>{23,23}</string>
                <key>textureRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_down_arrow_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,32}</string>
                <key>spriteSourceSize</key>
                <string>{33,32}</string>
                <key>textureRect</key>
                <string>{{23,0},{33,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_guanbi (1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,45}</string>
                <key>spriteSourceSize</key>
                <string>{45,45}</string>
                <key>textureRect</key>
                <string>{{56,0},{45,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img-01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,110}</string>
                <key>spriteSourceSize</key>
                <string>{91,110}</string>
                <key>textureRect</key>
                <string>{{101,0},{91,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img-02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,165}</string>
                <key>spriteSourceSize</key>
                <string>{157,165}</string>
                <key>textureRect</key>
                <string>{{501,0},{157,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img-05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{620,738}</string>
                <key>spriteSourceSize</key>
                <string>{620,738}</string>
                <key>textureRect</key>
                <string>{{0,1219},{620,738}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{546,576}</string>
                <key>spriteSourceSize</key>
                <string>{546,576}</string>
                <key>textureRect</key>
                <string>{{200,643},{546,576}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,278}</string>
                <key>spriteSourceSize</key>
                <string>{200,278}</string>
                <key>textureRect</key>
                <string>{{481,365},{200,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,278}</string>
                <key>spriteSourceSize</key>
                <string>{200,278}</string>
                <key>textureRect</key>
                <string>{{681,365},{200,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,191}</string>
                <key>spriteSourceSize</key>
                <string>{272,191}</string>
                <key>textureRect</key>
                <string>{{0,165},{272,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{278,200}</string>
                <key>spriteSourceSize</key>
                <string>{278,200}</string>
                <key>textureRect</key>
                <string>{{544,165},{278,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,278}</string>
                <key>spriteSourceSize</key>
                <string>{200,278}</string>
                <key>textureRect</key>
                <string>{{0,643},{200,278}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,276}</string>
                <key>spriteSourceSize</key>
                <string>{201,276}</string>
                <key>textureRect</key>
                <string>{{280,365},{201,276}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,204}</string>
                <key>spriteSourceSize</key>
                <string>{280,204}</string>
                <key>textureRect</key>
                <string>{{0,365},{280,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{272,191}</string>
                <key>spriteSourceSize</key>
                <string>{272,191}</string>
                <key>textureRect</key>
                <string>{{272,165},{272,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>turn.png</string>
            <key>size</key>
            <string>{881,1957}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3c4a3ef36739a5f019ea1dc32eccb168:af253fb8a313e135648bd6e9f5a96025:eca4ac5b408767d8a94cfc1e901edb87$</string>
            <key>textureFileName</key>
            <string>turn.png</string>
        </dict>
    </dict>
</plist>
