<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,1372}</string>
                <key>spriteSourceSize</key>
                <string>{750,1372}</string>
                <key>textureRect</key>
                <string>{{3,3},{750,1372}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_weidianliang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{250,80}</string>
                <key>spriteSourceSize</key>
                <string>{262,84}</string>
                <key>textureRect</key>
                <string>{{759,654},{250,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_yishouji.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,82}</string>
                <key>spriteSourceSize</key>
                <string>{260,82}</string>
                <key>textureRect</key>
                <string>{{759,566},{260,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button-lq.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,48}</string>
                <key>spriteSourceSize</key>
                <string>{108,48}</string>
                <key>textureRect</key>
                <string>{{1025,566},{108,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button_lq1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,48}</string>
                <key>spriteSourceSize</key>
                <string>{108,48}</string>
                <key>textureRect</key>
                <string>{{957,947},{108,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,21}</string>
                <key>spriteSourceSize</key>
                <string>{21,21}</string>
                <key>textureRect</key>
                <string>{{1039,27},{21,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_nav_return.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,1}</string>
                <key>spriteSize</key>
                <string>{18,34}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{1039,3},{18,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>img-go.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,83}</string>
                <key>spriteSourceSize</key>
                <string>{83,83}</string>
                <key>textureRect</key>
                <string>{{957,1471},{83,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img-hb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,156}</string>
                <key>spriteSourceSize</key>
                <string>{132,156}</string>
                <key>textureRect</key>
                <string>{{759,1651},{132,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>img-k.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{560,192}</string>
                <key>spriteSourceSize</key>
                <string>{560,192}</string>
                <key>textureRect</key>
                <string>{{759,947},{560,192}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>img-liqu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,410}</string>
                <key>spriteSourceSize</key>
                <string>{750,410}</string>
                <key>textureRect</key>
                <string>{{3,1381},{750,410}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img-xx.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{5,192}</string>
                <key>spriteSourceSize</key>
                <string>{5,192}</string>
                <key>textureRect</key>
                <string>{{1066,27},{5,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_bg_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,201}</string>
                <key>spriteSourceSize</key>
                <string>{201,201}</string>
                <key>textureRect</key>
                <string>{{759,740},{201,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_bg_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{557,274}</string>
                <key>spriteSourceSize</key>
                <string>{557,274}</string>
                <key>textureRect</key>
                <string>{{759,3},{557,274}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>img_biaoti.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{397,66}</string>
                <key>spriteSourceSize</key>
                <string>{397,66}</string>
                <key>textureRect</key>
                <string>{{1015,680},{397,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>img_dou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,166}</string>
                <key>spriteSourceSize</key>
                <string>{132,166}</string>
                <key>textureRect</key>
                <string>{{942,1560},{132,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_doudou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{957,1083},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_gold.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,177}</string>
                <key>spriteSourceSize</key>
                <string>{132,177}</string>
                <key>textureRect</key>
                <string>{{759,1513},{132,177}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>img_quan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,89}</string>
                <key>spriteSourceSize</key>
                <string>{86,89}</string>
                <key>textureRect</key>
                <string>{{957,1379},{86,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>img_xingzhuang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,256}</string>
                <key>spriteSourceSize</key>
                <string>{4,256}</string>
                <key>textureRect</key>
                <string>{{1077,27},{4,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>quan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,90}</string>
                <key>spriteSourceSize</key>
                <string>{89,90}</string>
                <key>textureRect</key>
                <string>{{957,1189},{89,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>zhenzhu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,90}</string>
                <key>spriteSourceSize</key>
                <string>{89,90}</string>
                <key>textureRect</key>
                <string>{{957,1284},{89,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>handbook.png</string>
            <key>size</key>
            <string>{1084,1794}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:da045c2a92be9556d328c328eedea170:d85697da2b9b983a6edc89baf63206a6:005ed168843664f5af5f6a17d7646ae5$</string>
            <key>textureFileName</key>
            <string>handbook.png</string>
        </dict>
    </dict>
</plist>
