<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{656,903}</string>
                <key>spriteSourceSize</key>
                <string>{656,903}</string>
                <key>textureRect</key>
                <string>{{1,641},{656,903}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{592,293}</string>
                <key>spriteSourceSize</key>
                <string>{592,293}</string>
                <key>textureRect</key>
                <string>{{411,1299},{592,293}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{592,408}</string>
                <key>spriteSourceSize</key>
                <string>{592,408}</string>
                <key>textureRect</key>
                <string>{{1,1299},{592,408}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{295,89}</string>
                <key>spriteSourceSize</key>
                <string>{295,89}</string>
                <key>textureRect</key>
                <string>{{808,1299},{295,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>img-kp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{706,1299},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{638,978}</string>
                <key>spriteSourceSize</key>
                <string>{638,978}</string>
                <key>textureRect</key>
                <string>{{1,1},{638,978}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>img_tianjia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{706,1401},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>jiesuan.png</string>
            <key>size</key>
            <string>{980,1892}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d1ed7921265f058fd57db74dec91c46e:3425eb850aa0f58ffb40e452e0e7bb57:656815dd6ca417357113fad23ed2a364$</string>
            <key>textureFileName</key>
            <string>jiesuan.png</string>
        </dict>
    </dict>
</plist>
