<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg-cfx.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{557,274}</string>
                <key>spriteSourceSize</key>
                <string>{557,274}</string>
                <key>textureRect</key>
                <string>{{753,1},{557,274}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,990}</string>
                <key>spriteSourceSize</key>
                <string>{750,990}</string>
                <key>textureRect</key>
                <string>{{1,1},{750,990}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,201}</string>
                <key>spriteSourceSize</key>
                <string>{201,201}</string>
                <key>textureRect</key>
                <string>{{753,560},{201,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_kj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,70}</string>
                <key>spriteSourceSize</key>
                <string>{144,70}</string>
                <key>textureRect</key>
                <string>{{753,763},{144,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_kj_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,70}</string>
                <key>spriteSourceSize</key>
                <string>{144,70}</string>
                <key>textureRect</key>
                <string>{{753,909},{144,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>selete.png</string>
            <key>size</key>
            <string>{1028,992}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:40e3fdb55d7ac89fca654eb371a3d216:a884e3c43f62eba27a957ef88bbb02e2:daeb0cd9eec5600131ebe0abb5ccd723$</string>
            <key>textureFileName</key>
            <string>selete.png</string>
        </dict>
    </dict>
</plist>
