<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,426}</string>
                <key>spriteSourceSize</key>
                <string>{750,426}</string>
                <key>textureRect</key>
                <string>{{753,697},{750,426}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{405,72}</string>
                <key>spriteSourceSize</key>
                <string>{405,72}</string>
                <key>textureRect</key>
                <string>{{480,1449},{405,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,1342}</string>
                <key>spriteSourceSize</key>
                <string>{750,1342}</string>
                <key>textureRect</key>
                <string>{{1,1},{750,1342}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_4(1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,203}</string>
                <key>spriteSourceSize</key>
                <string>{196,203}</string>
                <key>textureRect</key>
                <string>{{1,1345},{196,203}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{694,487}</string>
                <key>spriteSourceSize</key>
                <string>{694,487}</string>
                <key>textureRect</key>
                <string>{{753,1},{694,487}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{1181,697},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_yuanjiachushou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,70}</string>
                <key>spriteSourceSize</key>
                <string>{184,70}</string>
                <key>textureRect</key>
                <string>{{206,1345},{184,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button-jg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,74}</string>
                <key>spriteSourceSize</key>
                <string>{200,74}</string>
                <key>textureRect</key>
                <string>{{278,1449},{200,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>property.png</string>
            <key>size</key>
            <string>{1241,1542}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8ebd31e9f75da31aecb37947f6bd55c9:ca0b9a290cef466c7202802432c35cac:4f7c6b01f245fc236b5f1f30af4be27b$</string>
            <key>textureFileName</key>
            <string>property.png</string>
        </dict>
    </dict>
</plist>
