<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Ellipse 4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{713,572},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rectangle_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,569}</string>
                <key>spriteSourceSize</key>
                <string>{750,569}</string>
                <key>textureRect</key>
                <string>{{1,1},{750,569}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rectangle_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{710,128}</string>
                <key>spriteSourceSize</key>
                <string>{710,128}</string>
                <key>textureRect</key>
                <string>{{1,572},{710,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_anniu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,96}</string>
                <key>spriteSourceSize</key>
                <string>{640,96}</string>
                <key>textureRect</key>
                <string>{{753,1},{640,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon-wx.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{713,643},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon-zfb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{779,643},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>pay.png</string>
            <key>size</key>
            <string>{850,708}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:efcb8eefbfe4bf5ba9110e01d8e53656:52becefd14a1f5ad10186e41e2770ba4:2dc19c68610ae1a21aa01f352eb7222f$</string>
            <key>textureFileName</key>
            <string>pay.png</string>
        </dict>
    </dict>
</plist>
