<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{775,975}</string>
                <key>spriteSourceSize</key>
                <string>{775,975}</string>
                <key>textureRect</key>
                <string>{{1017,204},{775,975}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{570,189}</string>
                <key>spriteSourceSize</key>
                <string>{570,189}</string>
                <key>textureRect</key>
                <string>{{793,5},{570,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{558,189}</string>
                <key>spriteSourceSize</key>
                <string>{558,189}</string>
                <key>textureRect</key>
                <string>{{1373,5},{558,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_ljkt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,106}</string>
                <key>spriteSourceSize</key>
                <string>{228,106}</string>
                <key>textureRect</key>
                <string>{{69,5},{228,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,106}</string>
                <key>spriteSourceSize</key>
                <string>{228,106}</string>
                <key>textureRect</key>
                <string>{{307,5},{228,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guanbi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{5,5},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_vip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{238,180}</string>
                <key>spriteSourceSize</key>
                <string>{238,180}</string>
                <key>textureRect</key>
                <string>{{545,5},{238,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,1002}</string>
                <key>spriteSourceSize</key>
                <string>{750,1002}</string>
                <key>textureRect</key>
                <string>{{5,204},{750,1002}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>vip.png</string>
            <key>size</key>
            <string>{1997,984}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:21424dd911983717fe777ad06b6fc10e:1d9e239182f341cbefb688674f610dd1:f0b190d86ee73cbfd30d23fccc1ae1c2$</string>
            <key>textureFileName</key>
            <string>vip.png</string>
        </dict>
    </dict>
</plist>
