<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg-sj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{702,484}</string>
                <key>spriteSourceSize</key>
                <string>{702,484}</string>
                <key>textureRect</key>
                <string>{{647,753},{702,484}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{644,501}</string>
                <key>spriteSourceSize</key>
                <string>{644,501}</string>
                <key>textureRect</key>
                <string>{{1,753},{644,501}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{695,838}</string>
                <key>spriteSourceSize</key>
                <string>{695,838}</string>
                <key>textureRect</key>
                <string>{{1,1305},{695,838}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{702,128}</string>
                <key>spriteSourceSize</key>
                <string>{702,128}</string>
                <key>textureRect</key>
                <string>{{1087,1861},{702,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,1784}</string>
                <key>spriteSourceSize</key>
                <string>{750,1784}</string>
                <key>textureRect</key>
                <string>{{1,1},{750,1784}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_fuzhi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,63}</string>
                <key>spriteSourceSize</key>
                <string>{147,63}</string>
                <key>textureRect</key>
                <string>{{779,1239},{147,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_lianxi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,63}</string>
                <key>spriteSourceSize</key>
                <string>{147,63}</string>
                <key>textureRect</key>
                <string>{{928,1239},{147,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_shengjifuweng.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,79}</string>
                <key>spriteSourceSize</key>
                <string>{171,79}</string>
                <key>textureRect</key>
                <string>{{1553,826},{171,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button-jg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,74}</string>
                <key>spriteSourceSize</key>
                <string>{200,74}</string>
                <key>textureRect</key>
                <string>{{1351,826},{200,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button-y.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{626,92}</string>
                <key>spriteSourceSize</key>
                <string>{626,92}</string>
                <key>textureRect</key>
                <string>{{1787,677},{626,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guanbi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{1841,1835},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon-d.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,41}</string>
                <key>spriteSourceSize</key>
                <string>{40,41}</string>
                <key>textureRect</key>
                <string>{{30,1256},{32,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon-d_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{195,1256},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon-qq.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{647,1239},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon-wx.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{713,1239},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon-yyd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{56,50}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{1841,1727},{56,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_guanbi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{64,1256},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_kj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,63}</string>
                <key>spriteSourceSize</key>
                <string>{147,63}</string>
                <key>textureRect</key>
                <string>{{928,1239},{147,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_nav_return.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,34}</string>
                <key>spriteSourceSize</key>
                <string>{19,34}</string>
                <key>textureRect</key>
                <string>{{841,1977},{19,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>img-01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{752,554}</string>
                <key>spriteSourceSize</key>
                <string>{752,554}</string>
                <key>textureRect</key>
                <string>{{1087,1305},{752,554}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img-dfw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,27}</string>
                <key>spriteSourceSize</key>
                <string>{43,27}</string>
                <key>textureRect</key>
                <string>{{1,1256},{43,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>img-dfw_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,49}</string>
                <key>spriteSourceSize</key>
                <string>{48,49}</string>
                <key>textureRect</key>
                <string>{{1841,1785},{48,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>img-dfw_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,88}</string>
                <key>spriteSourceSize</key>
                <string>{88,88}</string>
                <key>textureRect</key>
                <string>{{1791,1885},{88,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img-sj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{670,244}</string>
                <key>spriteSourceSize</key>
                <string>{670,244}</string>
                <key>textureRect</key>
                <string>{{841,1305},{670,244}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>img-sr.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{674,108}</string>
                <key>spriteSourceSize</key>
                <string>{674,108}</string>
                <key>textureRect</key>
                <string>{{1787,1},{674,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>img-zy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{420,53}</string>
                <key>spriteSourceSize</key>
                <string>{420,53}</string>
                <key>textureRect</key>
                <string>{{1841,1305},{420,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>img_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,29}</string>
                <key>spriteSourceSize</key>
                <string>{87,29}</string>
                <key>textureRect</key>
                <string>{{106,1256},{87,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_biaoti.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{410,71}</string>
                <key>spriteSourceSize</key>
                <string>{410,71}</string>
                <key>textureRect</key>
                <string>{{1351,753},{410,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>rich.png</string>
            <key>size</key>
            <string>{1896,2001}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:de54bbf96f9d7e20e1bb815a32a02d87:d4b7cc286a88100840439a386519fe96:c530246edf876a75bc7b685385996849$</string>
            <key>textureFileName</key>
            <string>rich.png</string>
        </dict>
    </dict>
</plist>
