<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg-sj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{662,291}</string>
                <key>spriteSourceSize</key>
                <string>{662,291}</string>
                <key>textureRect</key>
                <string>{{1743,713},{662,291}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,1624}</string>
                <key>spriteSourceSize</key>
                <string>{750,1624}</string>
                <key>textureRect</key>
                <string>{{1,1},{750,1624}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bgitme.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{674,158}</string>
                <key>spriteSourceSize</key>
                <string>{674,158}</string>
                <key>textureRect</key>
                <string>{{1,1465},{674,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon-yyd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{80,102}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{1921,1},{80,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_kj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,70}</string>
                <key>spriteSourceSize</key>
                <string>{144,70}</string>
                <key>textureRect</key>
                <string>{{677,1465},{144,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_kj_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,70}</string>
                <key>spriteSourceSize</key>
                <string>{144,70}</string>
                <key>textureRect</key>
                <string>{{1743,1377},{144,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_nav_return.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{12,22}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{677,1537},{12,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_nav_return_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,1}</string>
                <key>spriteSize</key>
                <string>{18,34}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{1627,713},{18,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img-01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{710,292}</string>
                <key>spriteSourceSize</key>
                <string>{710,292}</string>
                <key>textureRect</key>
                <string>{{1627,1},{710,292}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>img-02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{710,986}</string>
                <key>spriteSourceSize</key>
                <string>{710,986}</string>
                <key>textureRect</key>
                <string>{{1,753},{710,986}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>img-yydsj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{752,831}</string>
                <key>spriteSourceSize</key>
                <string>{752,831}</string>
                <key>textureRect</key>
                <string>{{989,753},{752,831}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>world.png</string>
            <key>size</key>
            <string>{2035,1624}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2af1f55cfc6b566e7244148376c7866b:3d26c48999f97241dff7beba489f0a3e:b1cac0f65344e7e523bd206211506128$</string>
            <key>textureFileName</key>
            <string>world.png</string>
        </dict>
    </dict>
</plist>
