<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,1813}</string>
                <key>spriteSourceSize</key>
                <string>{750,1813}</string>
                <key>textureRect</key>
                <string>{{0,1736},{750,1813}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_1(1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{695,959}</string>
                <key>spriteSourceSize</key>
                <string>{695,959}</string>
                <key>textureRect</key>
                <string>{{0,777},{695,959}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_fanhui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,34}</string>
                <key>spriteSourceSize</key>
                <string>{19,34}</string>
                <key>textureRect</key>
                <string>{{0,0},{19,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img-y.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{646,80}</string>
                <key>spriteSourceSize</key>
                <string>{646,80}</string>
                <key>textureRect</key>
                <string>{{0,335},{646,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img-zt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{690,362}</string>
                <key>spriteSourceSize</key>
                <string>{690,362}</string>
                <key>textureRect</key>
                <string>{{0,415},{690,362}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,22}</string>
                <key>spriteSourceSize</key>
                <string>{22,22}</string>
                <key>textureRect</key>
                <string>{{19,0},{22,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_biaoti(1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,33}</string>
                <key>spriteSourceSize</key>
                <string>{209,33}</string>
                <key>textureRect</key>
                <string>{{220,0},{209,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_biaoti.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{410,71}</string>
                <key>spriteSourceSize</key>
                <string>{410,71}</string>
                <key>textureRect</key>
                <string>{{332,263},{410,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_doudou(1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,60}</string>
                <key>spriteSourceSize</key>
                <string>{88,60}</string>
                <key>textureRect</key>
                <string>{{132,0},{88,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_doudou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{267,263}</string>
                <key>spriteSourceSize</key>
                <string>{267,263}</string>
                <key>textureRect</key>
                <string>{{429,0},{267,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_pintu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,21}</string>
                <key>spriteSourceSize</key>
                <string>{24,21}</string>
                <key>textureRect</key>
                <string>{{41,0},{24,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_suipian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,59}</string>
                <key>spriteSourceSize</key>
                <string>{67,59}</string>
                <key>textureRect</key>
                <string>{{65,0},{67,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_wenan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{332,48}</string>
                <key>spriteSourceSize</key>
                <string>{332,48}</string>
                <key>textureRect</key>
                <string>{{0,263},{332,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_zhixian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{621,1}</string>
                <key>spriteSourceSize</key>
                <string>{621,1}</string>
                <key>textureRect</key>
                <string>{{0,334},{621,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>dtil.png</string>
            <key>size</key>
            <string>{750,3549}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3b5a3f768e6167721c4cbdfe0a36c56e:d0d545da3bf671fb996ee789c3e66d3d:9d6e7b29c28e4c68c528d322610d8299$</string>
            <key>textureFileName</key>
            <string>dtil.png</string>
        </dict>
    </dict>
</plist>
