<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg-jx.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{699,471}</string>
                <key>spriteSourceSize</key>
                <string>{699,471}</string>
                <key>textureRect</key>
                <string>{{753,582},{699,471}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,152}</string>
                <key>spriteSourceSize</key>
                <string>{720,152}</string>
                <key>textureRect</key>
                <string>{{1,1627},{720,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,1624}</string>
                <key>spriteSourceSize</key>
                <string>{750,1624}</string>
                <key>textureRect</key>
                <string>{{1,1},{750,1624}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgdi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{699,404}</string>
                <key>spriteSourceSize</key>
                <string>{699,404}</string>
                <key>textureRect</key>
                <string>{{1505,1},{699,404}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_yqhy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{323,70}</string>
                <key>spriteSourceSize</key>
                <string>{323,70}</string>
                <key>textureRect</key>
                <string>{{1,1854},{323,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button-red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,54}</string>
                <key>spriteSourceSize</key>
                <string>{124,54}</string>
                <key>textureRect</key>
                <string>{{1707,1579},{124,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,74}</string>
                <key>spriteSourceSize</key>
                <string>{200,74}</string>
                <key>textureRect</key>
                <string>{{1465,1715},{200,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon-hb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,33}</string>
                <key>spriteSourceSize</key>
                <string>{31,33}</string>
                <key>textureRect</key>
                <string>{{1419,1310},{31,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon-hb_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,54}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{574,1781},{48,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon-jp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{410,71}</string>
                <key>spriteSourceSize</key>
                <string>{410,71}</string>
                <key>textureRect</key>
                <string>{{1,1781},{410,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon-jr.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,33}</string>
                <key>spriteSourceSize</key>
                <string>{42,33}</string>
                <key>textureRect</key>
                <string>{{1419,1266},{42,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon-jr_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{1465,1879},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon-yq.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{1465,1791},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon-yyd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{52,46}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{630,1781},{52,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_ir.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,67}</string>
                <key>spriteSourceSize</key>
                <string>{64,67}</string>
                <key>textureRect</key>
                <string>{{1707,1635},{64,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_jq.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,54}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1833,1579},{62,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_kj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,134}</string>
                <key>spriteSourceSize</key>
                <string>{240,134}</string>
                <key>textureRect</key>
                <string>{{1465,1579},{240,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_wd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,56}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1615,1791},{52,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_yq.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,52}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1833,1635},{58,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_zc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,58}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1553,1791},{60,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_zc_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,70}</string>
                <key>spriteSourceSize</key>
                <string>{75,70}</string>
                <key>textureRect</key>
                <string>{{326,1854},{75,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img-bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{410,71}</string>
                <key>spriteSourceSize</key>
                <string>{410,71}</string>
                <key>textureRect</key>
                <string>{{1,1781},{410,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img-ct006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{710,380}</string>
                <key>spriteSourceSize</key>
                <string>{710,380}</string>
                <key>textureRect</key>
                <string>{{753,1544},{710,380}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img-lh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{159,40}</string>
                <key>spriteSourceSize</key>
                <string>{161,40}</string>
                <key>textureRect</key>
                <string>{{413,1781},{159,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img-vip.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,40}</string>
                <key>spriteSourceSize</key>
                <string>{102,40}</string>
                <key>textureRect</key>
                <string>{{1454,582},{100,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>img00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,579}</string>
                <key>spriteSourceSize</key>
                <string>{750,579}</string>
                <key>textureRect</key>
                <string>{{753,1},{750,579}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{664,487}</string>
                <key>spriteSourceSize</key>
                <string>{664,487}</string>
                <key>textureRect</key>
                <string>{{753,1055},{664,487}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,0}</string>
                <key>spriteSize</key>
                <string>{704,452}</string>
                <key>spriteSourceSize</key>
                <string>{750,452}</string>
                <key>textureRect</key>
                <string>{{1454,702},{704,452}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>img_biaoti.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,33}</string>
                <key>spriteSourceSize</key>
                <string>{209,33}</string>
                <key>textureRect</key>
                <string>{{1419,1055},{209,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>img_doudou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,55}</string>
                <key>spriteSourceSize</key>
                <string>{58,55}</string>
                <key>textureRect</key>
                <string>{{1773,1635},{58,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jali.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{444,169}</string>
                <key>spriteSourceSize</key>
                <string>{444,169}</string>
                <key>textureRect</key>
                <string>{{1465,1408},{444,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>friend.png</string>
            <key>size</key>
            <string>{1910,1925}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:114fad6bd029c6556e6f777f9df6357f:79572e767c0f2f526f025ccf325fbb3e:6b0a64026ae56fd16339d3c912c0f817$</string>
            <key>textureFileName</key>
            <string>friend.png</string>
        </dict>
    </dict>
</plist>
