<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,1622}</string>
                <key>spriteSourceSize</key>
                <string>{750,1622}</string>
                <key>textureRect</key>
                <string>{{1,1},{750,1622}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{702,94}</string>
                <key>spriteSourceSize</key>
                <string>{702,94}</string>
                <key>textureRect</key>
                <string>{{753,1},{702,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{698,1273}</string>
                <key>spriteSourceSize</key>
                <string>{698,1273}</string>
                <key>textureRect</key>
                <string>{{753,97},{698,1273}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{207,71}</string>
                <key>spriteSourceSize</key>
                <string>{207,71}</string>
                <key>textureRect</key>
                <string>{{753,1372},{207,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_nav_return.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,1}</string>
                <key>spriteSize</key>
                <string>{18,34}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{753,1581},{18,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,29}</string>
                <key>spriteSourceSize</key>
                <string>{87,29}</string>
                <key>textureRect</key>
                <string>{{773,1581},{87,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>friend_invite.png</string>
            <key>size</key>
            <string>{1456,1624}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:02236e6d786eb473310a66c4f2bddd22:93b308b9fd7d05e036beee5c34013176:f3d0f449601385051f26eff93b4fa750$</string>
            <key>textureFileName</key>
            <string>friend_invite.png</string>
        </dict>
    </dict>
</plist>
