<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,1625}</string>
                <key>spriteSourceSize</key>
                <string>{750,1625}</string>
                <key>textureRect</key>
                <string>{{1,1},{750,1625}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{695,959}</string>
                <key>spriteSourceSize</key>
                <string>{695,959}</string>
                <key>textureRect</key>
                <string>{{226,753},{695,959}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_fanhui.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,34}</string>
                <key>spriteSourceSize</key>
                <string>{19,34}</string>
                <key>textureRect</key>
                <string>{{1599,777},{19,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{701,223}</string>
                <key>spriteSourceSize</key>
                <string>{701,223}</string>
                <key>textureRect</key>
                <string>{{1,753},{701,223}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>img_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,33}</string>
                <key>spriteSourceSize</key>
                <string>{33,33}</string>
                <key>textureRect</key>
                <string>{{1446,826},{33,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,22}</string>
                <key>spriteSourceSize</key>
                <string>{22,22}</string>
                <key>textureRect</key>
                <string>{{1599,753},{22,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_biaoti.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{410,71}</string>
                <key>spriteSourceSize</key>
                <string>{410,71}</string>
                <key>textureRect</key>
                <string>{{1187,753},{410,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_qianbao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{257,246}</string>
                <key>spriteSourceSize</key>
                <string>{257,246}</string>
                <key>textureRect</key>
                <string>{{1187,826},{257,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>friend_invite_record.png</string>
            <key>size</key>
            <string>{1627,1455}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b247c29b743d21d86028c73b38bdacb5:9354dbe82f13bb022d61cfb13d277b32:309bb88b4227ff8cad69fc7871c2a191$</string>
            <key>textureFileName</key>
            <string>friend_invite_record.png</string>
        </dict>
    </dict>
</plist>
