<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{750,1622}</string>
                <key>spriteSourceSize</key>
                <string>{750,1622}</string>
                <key>textureRect</key>
                <string>{{1,1},{750,1622}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_fabuchushou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{377,114}</string>
                <key>spriteSourceSize</key>
                <string>{377,114}</string>
                <key>textureRect</key>
                <string>{{166,753},{377,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_fabuqiugou.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{377,114}</string>
                <key>spriteSourceSize</key>
                <string>{377,114}</string>
                <key>textureRect</key>
                <string>{{545,753},{377,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{291,88}</string>
                <key>spriteSourceSize</key>
                <string>{291,88}</string>
                <key>textureRect</key>
                <string>{{1201,845},{291,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon-d.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,40}</string>
                <key>spriteSourceSize</key>
                <string>{39,40}</string>
                <key>textureRect</key>
                <string>{{1,904},{39,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon-yyd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,107}</string>
                <key>spriteSourceSize</key>
                <string>{149,107}</string>
                <key>textureRect</key>
                <string>{{1,753},{149,107}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_down_arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,12}</string>
                <key>spriteSourceSize</key>
                <string>{15,12}</string>
                <key>textureRect</key>
                <string>{{63,904},{15,12}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_nav_return.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,34}</string>
                <key>spriteSourceSize</key>
                <string>{19,34}</string>
                <key>textureRect</key>
                <string>{{42,904},{19,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img-g01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,80}</string>
                <key>spriteSourceSize</key>
                <string>{268,80}</string>
                <key>textureRect</key>
                <string>{{522,869},{268,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img-g02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{354,80}</string>
                <key>spriteSourceSize</key>
                <string>{354,80}</string>
                <key>textureRect</key>
                <string>{{166,869},{354,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img-green01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{354,90}</string>
                <key>spriteSourceSize</key>
                <string>{354,90}</string>
                <key>textureRect</key>
                <string>{{924,753},{354,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img-green02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{275,90}</string>
                <key>spriteSourceSize</key>
                <string>{275,90}</string>
                <key>textureRect</key>
                <string>{{924,845},{275,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,54}</string>
                <key>spriteSourceSize</key>
                <string>{128,54}</string>
                <key>textureRect</key>
                <string>{{110,753},{128,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <true/>
            <key>realTextureFileName</key>
            <string>publish.png</string>
            <key>size</key>
            <string>{1624,950}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bb039308062f9f1ec8093ed07b597e7a:b728d587684231e3226f954837836466:34d55a7836fcdaa9a576a4b5c2731463$</string>
            <key>textureFileName</key>
            <string>publish.png</string>
        </dict>
    </dict>
</plist>
